@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow-x: hidden!important;
}
h1,h2,h3{
  font-family: inherit;
  text-transform: uppercase;
}
p{
  font-family: inherit;
  margin-bottom: 10px;
}
a,
a:hover{
  outline: none!important;
  cursor:pointer;
}
ul,ol,li{
  list-style: none;
}

.navbar{
  background-color: #1752d3;
  height:60px;
  margin-bottom: 80px;
}